@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Über uns</h2>
<p>
    Sander „Vo0“ Kaasjager, Spieler des Computerspiels Painkiller, verhalf Fnatic durch seine guten Ergebnisse auf
    der CPL World Tour 2005 zum Durchbruch.[1] Nach seinem vorläufigen Karriereende Anfang 2006 wurde die Counter-Strike-Abteilung
    ein wichtiger Leistungsträger des Clans. Das Team um Patrik Lindberg gewann ab 2006 mehrere hunderttausend Dollar Preisgeld.
    Fnatic war Mitglied der G7 Teams, einer ehemaligen Vereinigung der erfolgreichsten Clans der Welt. Es wurde in den Jahren 2006
    und 2009 mit dem eSports Award als eSports Team of the Year ausgezeichnet.
    In League of Legends gewann fnatic 2011 auf der DreamHack Summer die erste Weltmeisterschaft (Riot League of Legends World Championship).
    Nach einem etwas weniger erfolgreichen Jahr 2012 gewann das Team 2013 beide Halbsaisons (Splits) der neu eingeführten Profiliga
    League Championship Series (LCS) und erreichte bei der Weltmeisterschaft das Halbfinale. Das Erreichen des Halbfinals gelang dem Team auch
    2015. Bei den League of Legends World Championship 2018 ("Worlds") gelang Fnatic erstmals, seit den ersten Worlds im Jahre 2011, der Einzug in das Finale. Dort unterlag man jedoch dem chinesischen E-Sports Team Invictus Gaming mit 3 zu 0.
    Danach war Fnatic, neben den erfolgreichen Counter-Strike und League of Legends Teams, auch in anderen Disziplinen wie Dota 2
    und Heroes of the Storm aktiv. Seit 2019 gibt es zudem mit Fnatic Rising ein Nachwuchsteam im Spiel League of Legends, welches
    in der Nordischen Liga NLC aktiv ist.
    Am 23. August 2015 konnte fnatic mit Siegen auf der ESL One Cologne 2015 in Counter-Strike: Global Offensive und auf
    den Summer-Playoffs der League of Legends Championship Series zwei große Turniere an einem Tag gewinnen.

    Am 15. August 2016 wechselten Robin „flusha“ Rönnquist, Jesper „JW“ Wecksell und Freddy „KRiMZ“ Johansson zu Godsent,
    während Simon „twist“ Eriksson und Jonas „Lekr0“ Eliasson von Godsent zu fnatic gingen.[4] Da diese Wechsel beiden Teams
    keine größeren Erfolge einbrachten, vereinbarten beide Organisationen am 4. Februar 2017 einen erneuten Spielertausch,
    welcher die Wechsel des vorherigen Jahres rückgängig machte.

    Ende 2018 gab die Organisation bekannt, mit ihrem League of Legends-Team Teil des, aus der EU LCS formierten,
    neuen Franchises LEC zu werden. Neben Fnatic treten hier unter anderem G2 eSports,
    der FC Schalke 04 und SK Gaming um den Gewinn der League of Legends European Championship an.

    Im September 2019 wurde die Organisation aufgrund von Steuervergehen zu einer Geldstrafe verurteilt.

    Nach einer langen Durststrecke hinsichtlich großer Erfolge befindet sich das Team nach einem erfo
    lgreichen Jahresabschluss 2019 auf dem zweiten Platz der CS:GO-Weltrangliste.
</p>