
@{
    ViewData["Title"] = "Index";
}

<h1>AJAX</h1>

<h4>alle User anziegen</h4>
<div id="tableUsers">
    hier werden später die Users angezeigt
</div>

@section Scripts{

    <script src="~/js/AJAXArticle.js"></script>
}